@import "compass";

body {
    background: #cccccc;
    > section {
        width:800px;
        margin: 5px auto;
        padding: 0 20px;
        border-left: 2px solid #eeeeee;
        border-right: 2px solid #eeeeee;
        h2 {
            border-bottom: 1px solid #999999;
        }
        > article > h3 {
            margin-bottom:0px;
            + p {
                margin-top:0px;
            }
        }
    }
}

// background-clip指定
div.background-clip {
    p {
        width:400px;
        height:40px;
        padding:10px;
        border:dashed 10px #000000;
        background-image:url("../img/megastar3.jpg");
        &.border-box{
            background-clip:border-box;
        }
        &.padding-box{
            background-clip:padding-box;
        }
        &.content-box{
            background-clip:content-box;
        }
    }
}

// background-origin指定
div.background-origin {
    p {
        width:400px; height:40px; padding:10px;
        border:dashed 10px #000000;
        background-image:url("../img/megastar3.jpg");
        background-repeat: no-repeat;
        &.padding-box{
            background-origin:padding-box;
        }
        &.border-box{
            background-origin:border-box;
        }
        &.content-box{
            background-origin:content-box;

        }
    }
}

// background-origin指定
div.background-size {
    p {
        width:400px; height:40px; padding:10px;
        border:dashed 10px #000000;
        background-image:url("../img/megastar3.jpg");
        background-repeat: no-repeat;
        &.auto{
            background-size:auto;
        }
        &.contain{
            background-size:contain;
        }
        &.cover{
            background-size:cover;
        }
        &.size{
            background-size:10px 10px;
        }
        &.per{
            background-size:50% auto;
        }
    }
}
