/* line 1, ../scss/style.scss */
body {
  background-color: #eeeeee;
}

/* line 5, ../scss/style.scss */
h2 {
  color: #cc0000;
}

/* line 10, ../scss/style.scss */
#container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
